body{
    background-image: url("../img/fundo.jpg");
    width: 100%;
    background-size: 700px 700px;
}

.titulo{
    color: #fbfcfc;
    font-size: 50px;
}

.subtitulo{
    color:#fbfcfc;
}

.topo{
    text-align: center;
    background-color: #db8b5a;
    padding: 6% 6%;
    margin-bottom: 20px;
}

footer{
    color: white;
    background-color: #db8b5a;
    text-align: center;
    padding: 2% 10%;
    margin-top: 2%;
}

.rodape{
    display: flex;
    text-align: left;
    line-height: 10px;
}

.foto{
    width: 20%;
    border-radius: 50px;
}